<div class="home-float">
		<!-- AddThis Button BEGIN -->
			<div class="addthis_toolbox addthis_default_style addthis_16x16_style home-share">
				<a class="addthis_button_email"></a>
				<a class="addthis_button_facebook"></a>
				<a class="addthis_button_twitter"></a>
				<a class="addthis_button_linkedin"></a>
				<a class="addthis_button_google_plusone_share"></a>
				<a class="addthis_button_pinterest_share"></a>
			</div>
			<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
			<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530ee7046fcbd127"></script>
		<!-- AddThis Button END -->
		<h1>Borrowing > Buying</h1>
		</br>
		<p style="font-size: medium;">From Yosemite and Big Sur, to the Marin Headlands and Half Moon Bay, Northern California is perfect for hiking and camping. We help you borrow what you need from your friends and neighbors so you can get out there!</p>
		</br>
		<div class="col-xs-6">
			<a href="http://borrows.herokuapp.com/signups/new" class="btn btn-primary btn-large btn-block home-btn" role="button">Add me to the waitlist! (SF area only)</a>
			<p style="font-size:55%;"><i>If you refer the <b>86th</b> person to sign up, both you & your friend who signs up will get a gift!</i></p>
		</div>

		<div class="col-xs-6">
			<a href="http://borrows.herokuapp.com/new" class="btn btn-primary btn-large btn-block home-btn" role="button">Log me in to borrow!</a>
			<p style="font-size:55%;"><i>Once you have the log in info, get started borrower! <a href="http://www.jamesdong.com/contacts/new" style="color: grey" target="_blank">Click here</a> if you'd like to contact us.</i></p>
		</div>
</div>


<%#= debug(params) if Rails.env.development? %>